#authentificate{
visibility:hidden;
color:red;
}
.first{
margin-top:50px;
}
.pure-menu{
text-align:center;
}
.slide-image{
width:100%;
}
.carousel-holder{
margin-bottom:30px;
}
.carousel-control, .item{
border-radius:4px;
}
.caption{
height:130px;
overflow:hidden;
}
img{
max-width:100%;
max-height:100%;
}
.ratings{
padding-right:10px;
padding-left:10px;
color:#d17581;
}
.thumbnail{
padding:0;
}
.thumbnail .caption-full{
padding:9px;
color:#333;
}
footer{
margin:50px ;
}
.parent{
min-width:100%!important;
display:block!important;
position:static!important;
margin-bottom:5px!important;
}
.dropdown-submenu{
border:1px solid #ddd;
}
.imageholder{
height:120px;
text-align:center;
border-bottom:1px solid rgb(199, 199, 199);
}
.attribute-title{
font-weight:600;
white-space:nowrap;
}
.section{
background:url("logo.png") no-repeat scroll 0px 9px transparent;
background-size:20px 20px;
padding-left:25px;
}
.content{
-webkit-column-count:2;
-moz-column-count:2;
column-count:2;
}
body{
background-color:rgb(243,253,253)!important;
}
.button-success,.button-error,.button-warning,.button-secondary {
color:white !important;
border-radius:4px !important;
text-shadow:0 1px 1px rgba(0, 0, 0, 0.2) !important;
}
.button-success{
background:rgb(28, 184, 65) !important;
}
.button-error{
background:rgb(202, 60, 60) !important;
}
.admin-box{
height:120px;
text-align:center;
border-bottom:1px solid rgb(199, 199, 199);
}
.link-h4{
color:#0088cc;
}
.link-h4:hover{
text-decoration:underline;
cursor:pointer;
}
